<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div><b><i>Hello, user!</i></b></div>
<br/>
<a href="/catOwners"><b><i>to cat owners page &#9654;</i></b></a>
<br/>
<br/>
<a href="/cats"><b><i>to cats page &#9654;</i></b></a>
</body>
</html>